##CMSIS文件夹内的文件不更改## 
##CMSIS/Inc/*.h
##CMSIS/Src/*.c

##FWLIB文件夹内的文件不更改## 
##FWLIB/src/*.c
##FWLIB/inc/*.h
##FWLIB/SystemInc/*.h
##FWLIB/SystemSrc/*.c

#FWLIB文件夹内的文件可能更改## 
##FWLIB/StartUp/*.s

##Drives文件夹内的文件可能更改## 
!Drives/Inc/*.h
!Drives/Src/*.c

##Interrupt文件夹内的文件可能更改## 
!Interrupt/Inc/*.h
!Interrupt/Src/*.c

##IRMP文件夹内的文件可能更改## 
!IRMP/inc/*.h
!IRMP/src/*.c

##IRSND文件夹内的文件可能更改## 
!IRSND/inc/*.h
!IRSND/src/*.c

##task文件夹内的文件可能更改## 
!task/Inc/*.h
!task/Src/*.c

##UCOSII文件夹内的文件可能更改## 
!UCOSII/Inc/*.h
!UCOSII/Src/*.c
!UCOSII/user/

##Project文件夹内的文件不更改 ##
#Project/*
#!Project/*.c